<template>
  <div>
    <p>Accout</p>
    <input  id="input_account"  v-model="account"  class="form-control" placeholder="Account" required><br>
    <p>Password</p>
    <input id="input_password" v-model="password" type="password" class="form-control" placeholder="Password" required><br><br>
    <button id="button_submit" @click="login">submit</button>

  </div>
  
</template>

<script>
export default {
  name: 'LoginView',
    data: function() {
      return{
        account: "",
        password: "",
      }
    
   },
  methods:{
    login: function(){
      if(!this.IsValidate()){
          alert('Please use correct account and password')
      }else{
        this.gotoProfile()
      }
      

    },
    gotoProfile:function(){
      this.$router.push({
      name: 'ProfileView',
      params: {
         loginName: 'Frank'
         }
      });
    },
    IsValidate(){
      return this.account == 'Frank' && this.password == '1234'
    }
  }
}
</script>

