<template>
  <div>
        <img alt="PPP" src="../assets/logo2.png">

    <p id="msg">Hello, {{this.$route.params.loginName}}</p>
  </div>
</template>

<script>
export default {
  name: 'ProfileView',
  created(){
  }
}
</script>